.section{
    position:relative;
    height: 70vh;
    width: 100%;
    margin: 80px 0;
    background-image: url("../../assets/img/test.png");

    &Wrapper{
        padding: 100px 0;

        h2{
            margin-bottom: 40px;
            color: white;
        }

        p{
            color: white;
            max-width: 60%;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.videoPlayer{
    position: absolute;
    right: 50%;
    left: 50%; 
    bottom: -120px;
    height: 250px;
    width: 600px;
    background-color: rgb(143, 143, 143) !important;
    border-radius: 10px;
    transform: translateX(-50%);
    z-index: 1000000000000000000;
}