.none{
    display: none !important;
}

.flex{
    transition: all .5s ease !important;
}

.navbar{
    margin: 0 auto;
    border-radius:5px;
    padding:  0 20px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorPrimary);
    transition: all .5s ease;
    position: relative;
}

.GamburgerMenyu{
      display: none;  
      cursor: pointer;
      position: relative;
}

@media (max-width: 991px){
    .navNan {
        color:blue;
        display: none !important;
    }
   
    
  }

  @media (max-width: 991px){
    .GamburgerMenyu{
        display: block;
    }
  }

